poetry.lock
*.DS_Store



*.sqlite
github_token
*.coverage
*streamlit.pid
*nohup.out
*config.ini
*nohup.out
*.ipynb_checkpoints
*uflix.egg-info
*.DS_Store
*.sublime-workspace
test/
*.avi
*.mp4
*.pyc
*.tmp
*.log
*.ipynb
*__pycache__*
*ipynb_checkpoints/*
*.log
*.tsv
*.gz
*.jpg
*.png
*.gif
*.part
*.webm
*.mp4
*.mkv
*.srt
dist/